.supportBlock {
    font-size: 18px;
    font-family: Poppins;
    color: #696F79;

    button {
        background-color: #f0e9e9;
        margin-bottom: 4%;
        width: 185px;
        border-radius: 30px;
        height: 45px;
        border: 0;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    button:hover {
        background-color: #696F79;
        color: #f0e9e9;
        .imgSupportBlock * {
            fill: #f0e9e9;
        }
    }
    svg {
        margin-right: 10px;
        margin-left: 23px;
    }
    .imgSupportBlock * {
        fill: #696F79;
    }
}
