.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    width: 100%
}

.homeBut{
    width: 212px;
    height: 64px;
    background-color: #8692A6;
    border-radius: 30px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border: none;
}