.startButton{
    width: 170px;
    border-radius: 20px;
    background-color: #8692A6;
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    border: 0px;
    height: 40px;
    cursor:pointer;
    
}
.startButton:hover{
    color: black;
}